*{
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}
.section{
    background-image: url('./img/IMAGE\ \(10\).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}